{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/fonts/circular-std/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/vector-map/jqvmap.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/jvectormap/jquery-jvectormap-2.0.2.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/charts/chartist-bundle/chartist.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/daterangepicker/daterangepicker.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/datatables/css/dataTables.bootstrap4.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/datatables/css/buttons.bootstrap4.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/datatables/css/select.bootstrap4.css' %}">

	<link rel="stylesheet" href="{% static 'assets/vendor/datatables/css/fixedHeader.bootstrap4.css' %}">

	<link rel="stylesheet" href="{% static 'css/jquery-datables.css' %}">
	<link rel="stylesheet" href="{% static 'css/dropzone.min.css' %}">

	<title>Document</title>
	<style>
		.card-scroll {
			max-height: 80vh;
			overflow-y: auto;	
		}
	</style>
</head>
<body>
	<main class="container mt-4" role="main">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
				<div class="card">
					<div class="card-body">
						<a href="{% url 'dashboard' %}" class="btn btn-rounded btn-outline-info" id="dash">Dashboard</a>
						<div class="card-title h2 float-right" id="currentTime"> </div>
						<hr>
					</div>
					<div class="card-body">
						<img class="img-fluid mx-auto d-block img-rounded" src="" id="monitorStream">
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				<div class="card text-white bg-primary">
					<div class="card-body">
						<div class="card-title h3 text-center">Student Logs</div>
						<hr>
					</div>
					<div class="card-body card-scroll main" id="logs">
						<div></div>
						<!-- <div class="card bg-white">
							<div class="card-body">
								<div class="card-title">Carl Dennis Alingalan</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src=" {% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %} "></script>
	<script src=" {% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %} "></script>
	<script src=" {% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %} "></script>
	<script src=" {% static 'assets/vendor/charts/chartist-bundle/chartist.min.js' %} "></script>
	<script src=" {% static 'assets/vendor/charts/chartist-bundle/Chartistjs.js' %} "></script>
	<script src=" {% static 'assets/vendor/charts/chartist-bundle/chartist-plugin-threshold.js' %} "></script>
	<script src="{% static 'js/dropzone.min.js' %}"></script>
	
	<script src=" {% static 'assets/vendor/charts/c3charts/c3.min.js' %} "></script>
	<script src=" {% static 'assets/vendor/charts/c3charts/d3-5.4.0.min.js' %} "></script>
	<script src=" {% static 'assets/vendor/charts/charts-bundle/Chart.bundle.js' %} "></script>
	<script src=" {% static 'assets/vendor/charts/charts-bundle/chartjs.js' %} "></script>
	<script src=" {% static 'assets/vendor/charts/sparkline/jquery.sparkline.js' %} "></script>
	<!-- <script src=" {% static 'assets/libs/js/dashboard-finance.js' %} "></script> -->
	<script src=" {% static 'assets/libs/js/main-js.js' %} "></script>
	<script src=" {% static 'assets/vendor/gauge/gauge.min.js' %} "></script>

	<script src=" {% static 'assets/vendor/charts/morris-bundle/raphael.min.js' %} "></script>
	<script src=" {% static 'assets/vendor/charts/morris-bundle/morris.js' %} "></script>
	<!-- <script src=" {% static 'assets/vendor/charts/morris-bundle/morrisjs.html' %} "></script> -->
	<!-- <script src="{% static 'assets/vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/js/buttons.bootstrap4.min.js' %}"></script> -->
	<script src="{% static 'assets/vendor/datatables/js/data-table.js' %}"></script>
	<script src="{% static 'js/jquery-datatables.js' %}"></script>
	<script src="{% static 'js/custom/custom.js' %}"></script>
	<script src="{% static 'js/custom/reconnecting-websocket.js' %}"></script>
	<script>
		$(()=>{ 

				var protoc = window.location.protocol == "https:" ?  "wss://" : "ws://",
					endpoint = protoc + window.location.host + window.location.pathname,
				    socket = new ReconnectingWebSocket(endpoint),
				    log_list = $('#logs > div').first()
				socket.onmessage = e => {
					data = JSON.parse(e.data)
					log_data = JSON.parse(data.log_data)
					// console.log("Main Object", data.log_data)
					
					// data = JSON.parse(e.d)
					// console.log("New data message ==> " + data)
					
					$.each(log_data, (key, value) => {
						log_list.prepend(
							`<div class="card">
								<div class="card-body">
									<div class="row pb-2">
										<div class="col-6">
											<img class="rounded mx-auto d-flex" height="60" width="60" src="${value.student_img_url}" />
										</div>
										<div class="col-6">
											<img class="mx-auto d-flex rounded" height="60" width="60" src="${value.logged_img_url}" />
										</div>
										
										
									</div>
									<div class="card-title" style="color:black">
										<b>${value.student_name}</b><br>
										${value.student_number}<br>
										${value.logged_date}<br>
										${value.logged_time}
									</div>
								</div>
							</div>`
							)
					})
				}

				var currTime      = $('#currentTime'),
		monitorStream = $('#monitorStream'),
		dash = $('#dash'),
		logs = $('#logs');


		function setCurrTime(){
			var date = new Date(),
				h = date.getHours(),
				m = date.getMinutes(),
				s = date.getSeconds(),
				setting = 'AM';

				if(h > 12){
					setting = 'PM';
					h -= 12;
				}

				if (h == 0 ){
					h = 12
				}

			h = h < 10 ? '0'+h : h
			m = m < 10 ? '0'+m : m
			s = s < 10 ? '0'+s : s

			var time = `${h}:${m}:${s} ${setting}`;
			currTime.text(time)

			setTimeout(setCurrTime, 1000)
		}

		var monitor = setInterval(()=>{
		$.ajax({
			url: "{% url 'monitor-stream' %}",
			success: monitorData => {
				let mData = JSON.parse(monitorData)
				monitorStream.attr('src', `data:image/jpeg;base64,${mData.main}`)
			}
		})	
		}, 1)

		dash.on('click', ()=>{
			clearInterval(monitor);
		});
setCurrTime();
		})
	
	
	</script>
</body>
</html>